target_prediction_v2/phase2/v2_index/*.npz filter=lfs diff=lfs merge=lfs -text
target_prediction_v2/phase2/v2_index/*.csv.gz filter=lfs diff=lfs merge=lfs -text
target_prediction_v2/phase3/orthologue_index/*.npz filter=lfs diff=lfs merge=lfs -text
target_prediction_v2/phase3/orthologue_index/*.csv.gz filter=lfs diff=lfs merge=lfs -text
backend/target_fishing_index/*.npz filter=lfs diff=lfs merge=lfs -text
backend/target_fishing_index/*.csv.gz filter=lfs diff=lfs merge=lfs -text
target_fishing_v1_freeze/target_fishing_index/*.npz filter=lfs diff=lfs merge=lfs -text
target_fishing_v1_freeze/target_fishing_index/*.csv.gz filter=lfs diff=lfs merge=lfs -text
